html.lenis {
  display: table;
}
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  overscroll-behavior: none;
  /*scrollbar-width: none;*/
}
.app .header {
  height: 100%;
  max-width: 100%;
  background-color: brown;
  transition: max-width 0.5s linear;
}
.app .header div {
  height: 100%;
  width: 70vw;
  display: block;
  transform-origin: center left;
}
.app .header div p {
  height: 100%;
  display: block;
  transform-origin: center left;
}
.app .container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.app .commonComponent {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
}

.app .commonComponent .content {
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  transition: max-width 0.5s linear;
}
